.advantages {
  text-align: center;
}

.advantages__header {
  padding: 40px 0 60px;
}

.advantages__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: $dark;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 0 29px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__list {
  @include list;
  background-color: $light-grey;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom -43px;
  padding-bottom: 318px;
  padding-top: 53px;
}

.advantages__heading {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 12px;
}

.advantages__text {
  margin-top: 0;
  margin-bottom: 0;
}

.advantages__item {
  margin-bottom: 31px;
  padding-left: 30px;
  padding-right: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}
