.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 30px;
  padding: 16px 30px;
  width: 100%;
}
