.form__group {
  @include clearfix;
  border: none;
  padding: 33px 20px 21px;
  margin-left: 0;
  margin-right: 0;

  &--even {
    background-color: $light-grey;
  }
}

.form__name {
  font-size: 14px;
  color: $lipstick;
  text-transform: uppercase;
  display: block;
  text-align: center;
  float: left;
  width: 100%;
  margin-bottom: 19px;
  line-height: 21px;
  padding-left: 30px;
  padding-right: 30px;

  &--hidden {
    display: none;
  }
}

.form__input {
  margin-bottom: 20px;
  float: left;
  width: 100%;

  &--checkbox {
    margin-bottom: 27px;
    margin-top: 25px;
  }

  &--radio {
    margin-bottom: 23px;
    margin-top: 23px;
  }
}

.form__footer {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 20px;
  text-align: center;
}

.form__addition {
  text-transform: uppercase;
}

.form__star {
  color: $lipstick;
}

.form__button {
  margin-bottom: 28px;
}

.form__inner {
  width: 320px;
  margin: 0 auto;
}

.form__container {
  width: 280px;
  text-align: center;
  padding: 49px 0 2px;
  margin: 0 auto;
  line-height: 29px;
}

@media (min-width: $tablet-width) {
  .form__group {
    margin-bottom: 57px;

    &--even {
      background-color: inherit;
    }

    &--bordered {
      border: solid 2px $grey;
    }

    &--null {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 34px;
    }

    &:nth-child(1) {
      order: -3;
    }

    &:nth-child(4) {
      order: -2;
    }

    &:nth-child(3) {
      order: -1;
    }
  }

  .form__name {
    float: none;
    width: auto;

    &--hidden {
      display: block;
    }
  }

  .form__inner {
    width: 620px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .form__footer {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 55px;
  }

  .form__button {
    width: 300px;
    margin-bottom: 0;
  }

  .form__addition {
    margin-top: 0;
    margin-bottom: 0;
  }

  .form__container {
    width: 590px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 94px;
    padding-bottom: 34px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .form__wrapper {
    padding-left: 39px;
    padding-right: 39px;

    @include clearfix;

    .form__input {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--text {
      padding-left: 0;
      padding-right: 0;

      .form__input {
        margin-bottom: 54px;
      }
    }

    &--radiobox {
      padding-bottom: 43px;
    }

    &--text-inverse {
      margin-top: -20px;

      .form__input {
        margin-bottom: 35px;
      }
    }

    &--checkbox {
      padding-bottom: 29px;
    }

    &--textarea {
      margin-top: -20px;
      padding-bottom: 18px;
    }
  }

  .form__input {
    &--radio {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__inner {
    width: 940px;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__group {
    width: 100%;
    margin-bottom: 47px;

    &:nth-child(1),
    &:nth-child(4) {
      width: 434px;
    }

    &--null {
      padding-top: 17px;
      margin-bottom: 34px;
    }

    &--right-null {
      padding-right: 0;
    }
  }

  .form__footer {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 38px;
  }

  .form__text-hidden {
    display: inline;
  }

  .form__wrapper {
    &::after {
      display: none;
    }

    &--text-inverse {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .form__input {
        width: 375px;
        margin-bottom: 0;
      }
    }

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      padding-right: 0;
      justify-content: space-between;
      padding-bottom: 14px;
      margin-top: -34px;

      .form__input {
        width: 260px;

        &:nth-child(1) {
          order: 1;
        }

        &:nth-child(2) {
          order: 4;
        }

        &:nth-child(3) {
          order: 2;
        }

        &:nth-child(4) {
          order: 5;
        }

        &:nth-child(5) {
          order: 3;
        }

        &:nth-child(6) {
          order: 6;
        }

        &:first-child {
          margin-top: 25px;
        }
      }
    }
  }

  .form__container {
    width: 820px;
    padding-bottom: 68px;
  }
}
