.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 66px;
  height: 66px;
  background-color: transparent;
  border: none;
  padding: 0;

  &::before {
    content: "";
    width: 50px;
    height: 24px;
    display: block;
    background-image: url("../img/icon-menu-burger.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
