.page-list {
  @include list;
}

.page-list__item {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .page-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .page-list__item {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {

}
