.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  font-size: 24px;
  font-weight: 300;
  background-color: #172131;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  line-height: normal;
  margin: 0;
  color: #ffffff;
  padding: 0 30px;
  text-align: center;
}
