.page-list {
  @include list;
}

.page-list__item {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;

  &--full {
    padding-left: 0;
    padding-right: 0;

    .photo___description {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
