.rate {
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  background-color: $light-grey;
  padding-top: 90px;
  padding-bottom: 45px;
}

.rate__scroll {
  overflow-x: auto;
  margin-bottom: 38px;
}

.rate__list {
  @include list;
}

.rate__table {
  width: 840px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.rate__cell {
  font-size: 18px;
  font-weight: normal;
  border: solid 2px $grey;
  padding: 14px 21px;
  background-color: #ffffff;
  width: 280px;
  position: relative;

  &--head {
    text-align: center;
    background-color: $dark;
    padding: 17px 24px 23px;

    &:first-child {
      background-color: transparent;
      border-color: transparent;
    }
  }

  &--first {
    display: none;
  }
}

.rate__name {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 9px;
}

.rate__price {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

.rate__icon {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  justify-content: space-between;

  &::after {
    content: "";
    width: 31px;
    height: 31px;
    display: block;
  }

  &--yes {
    &::after {
      background-image: url("../img/icon-yes.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 31px auto;
    }
  }

  &--no {
    &::after {
      background-image: url("../img/icon-no.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 27px auto;
    }
  }
}

.rate__hit {
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 73px;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -3px;
    background-image: url("../img/bg-hit.svg");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 74px;
    height: 73px;
  }

  &::after {
    content: "хит";
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    transform: rotate(-45deg);
    width: 100%;
    text-align: center;
    top: 13px;
    left: -14px;
  }
}

@media (max-width: $mobile-width-only) {
  .rate__table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $tablet-width) {
  .rate {
    padding-top: 70px;
  }

  .rate__table {
    width: 620px;
  }

  .rate__cell {
    width: 155px;
    padding: 7px 14px;

    &--first {
      display: table-cell;
      font-size: 14px;
    }

    &--head {
      padding: 11px 14px;
    }
  }

  .rate__name {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .rate__price {
    font-size: 18px;
  }

  .rate__icon {
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
    height: 31px;
    width: 31px;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -15px;
    }
  }

  .rate__toggles {
    display: none;
  }

  .rate__scroll {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .rate__hit {
    &::before {
      background-image: url("../img/bg-hit-tablet.svg");
      top: -6px;
      left: -9px;
    }

    &::after {
      top: 7px;
      left: -18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .rate {
    padding-top: 138px;
    padding-bottom: 90px;
  }

  .rate__table {
    width: 940px;
  }

  .rate__cell {
    width: 235px;
    padding: 14px 24px;

    &--first {
      font-size: 18px;
    }

    &--head {
      padding: 22px 24px;
    }
  }

  .rate__name {
    font-size: 18px;
  }

  .rate__price {
    font-size: 24px;
  }
}
