.reviews__wrapper {
  padding: 42px 0;
}

.reviews__list {
  @include list;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  line-height: 1.67;
  display: block;
}

.reviews__text {
  font-size: 14px;
  margin: 0;
  line-height: 30px;
}

.reviews__item {
  text-align: center;
  padding: 0 20px;
}

.reviews__details {
  display: none;
}

.reviews__header {
  margin-top: 0;
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .reviews__details {
    font-size: 14px;
    display: block;
  }

  .reviews__author {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .reviews__text {
    font-size: 18px;
    order: 1;
  }

  .reviews__header {
    order: 2;
    margin-top: 44px;
    margin-bottom: 0;
  }

  .reviews__inner {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .reviews__details {
    font-size: 16px;
    display: block;
  }

  .reviews__author {
    font-size: 24px;
  }

  .reviews__toggles {
    display: none;
  }
}
