.reviews__container {
  padding: 42px 0;
  width: 280px;
  margin: 0 auto;
}

.reviews__list {
  @include list;
  margin-bottom: 30px;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  line-height: 1.67;
  display: block;
}

.reviews__text {
  font-size: 14px;
  margin: 0;
  line-height: 30px;
}

.reviews__item {
  text-align: center;
}

.reviews__details {
  display: none;
}

.reviews__header {
  margin-top: 0;
  margin-bottom: 14px;
}

.reviews__arrows {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__container {
    width: 620px;
  }

  .reviews__details {
    font-size: 14px;
    display: block;
  }

  .reviews__author {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .reviews__text {
    font-size: 18px;
    order: 1;
  }

  .reviews__header {
    order: 2;
    margin-top: 32px;
    margin-bottom: 6px;
  }

  .reviews__inner {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .reviews__container {
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center 79px;
    padding-top: 195px;
    width: 940px;
  }

  .reviews__header {
    margin-top: 25px;
  }

  .reviews__details {
    font-size: 18px;
    display: block;
  }

  .reviews__author {
    font-size: 24px;
  }

  .reviews__arrows {
    display: block;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__list {
    margin-bottom: 0;
  }
}
