.site-list {
  @include list;
}

.site-list__link {
  font-size: 18px;
  color: #ffffff;
  padding: 19px 0;
  display: block;

  &:not(&--active) {
    &:hover {
      color: $lipstick;
    }

    &:active {
      color: #ffffff;
      opacity: 0.3;
    }
  }
}

@media (max-width: $tablet-width-only) {
  .site-list__link {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid #000000;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
  }

  .site-list__link {
    position: relative;

    &--active {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 8px;
        left: 0;
        height: 2px;
        background-color: #fff;
      }
    }
  }
}
