.textbox {
  margin-top: 0;
}

.textbox__label {
  font-size: 14px;
  color: $lipstick;
  text-transform: uppercase;
  display: block;
  padding-left: 21px;
  margin-bottom: 8px;
}

.textbox__input {
  height: 63px;
}

.textbox__input,
.textbox__textarea {
  padding: 15px 20px;
  border: solid 2px $grey;
  border-radius: 3px;
  width: 100%;
  font-size: 18px;
  color: inherit;
  line-height: 1.67;
  transition: all 0.3s ease;

  &:hover {
    border-color: $dark;
  }

  &:active {
    border-color: $lipstick;
  }
}

.textbox__textarea {
  min-height: 200px;
}

@media (min-width: $tablet-width) {
  .textbox {
    &--stroke {
      display: flex;
      align-items: center;

      .textbox__label {
        padding-left: 0;
        margin-right: 15px;
      }
    }

    &--inverse {
      display: flex;
      flex-direction: column-reverse;

      .textbox__label {
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
  }

  .textbox__input-wrapper {
    position: relative;
    padding-right: 62px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 62px;
      height: 100%;
      border: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &--phone {
      &::after {
        background: #e5e5e5 url("../img/icon-phone.svg") no-repeat center;
        background-size: 20px 19px;
      }
    }

    &--email {
      &::after {
        background: #e5e5e5 url("../img/icon-mail.svg") no-repeat center;
        background-size: 18px 13px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .textbox__textarea {
    min-height: 123px;
  }
}
