.upload__outer {
  background-color: $light-grey;
}

.upload__inner {
  width: 320px;
  margin: 0 auto;
}

.upload__description {
  text-align: center;
  padding: 44px 12px;
  margin: 0;
  line-height: 29px;
}

.upload__icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 34px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:last-child {
    margin-right: 0;
  }
}

.upload__buttons {
  padding: 38px 20px;
}

.upload__button {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.upload__container {
  width: 280px;
  margin: 0 auto;
}

.upload__image {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: $mobile-width-only) {
  .upload__card {
    padding: 20px 0;
    margin-bottom: 18px;
  }

  .upload__options {
    position: relative;
    width: 240px;
    margin: 0 auto 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
  }

  .upload__bar {
    .upload__range {
      display: none;
    }

    &--active {
      .upload__range {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 87px;
      }
    }
  }

  .upload__buttons {
    border-top: 1px solid #dddfe0;
  }

  .upload__button--contrast {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .upload__inner {
    width: 620px;
    margin: 0 auto;
    padding: 55px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .upload__card {
    width: 300px;
  }

  .upload__controls {
    width: 270px;
  }

  .upload__container {
    width: 660px;
  }

  .upload__options {
    margin-bottom: 28px;
  }

  .upload__description {
    font-size: 18px;
    line-height: 30px;
    padding-top: 65px;
    padding-bottom: 73px;
  }

  .upload__bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddfe0;
    min-height: 53px;
    margin-bottom: 19px;
    padding-right: 17px;
  }

  .upload__range {
    flex-grow: 1;
  }

  .upload__icon {
    margin-right: 27px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .upload__buttons {
    padding-left: 0;
    padding-bottom: 0;
  }

  .upload__button {
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .upload__container {
    width: 980px;
  }

  .upload__outer {
    width: 940px;
    margin: 0 auto;
  }

  .upload__inner {
    width: 800px;
  }

  .upload__controls {
    width: 410px;
    display: flex;
    flex-direction: column;
  }

  .upload__icon {
    margin-right: 27px;

    svg {
      width: 48px;
      height: 48px;
    }
  }

  .upload__buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 0;
    margin-top: auto;
  }

  .upload__button {
    margin-bottom: 0;
    width: 180px;
  }
}
