@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin outline {
  outline: 1px dotted #212121;
}
